body {
    margin: 0;
}

.menu-bar {
    padding: 8px;
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
    border-bottom: 1px solid #000;
}

.menu-bar a {
    font-size: 23px;
    color: #000;
    margin: 0 10px;
    -webkit-app-region: no-drag;
}

.menu-bar a:last-of-type {
    margin: 0 0 0 10px;
}

.shortcut-bar {
    border-bottom: 1px solid #000;
}

.shortcut-bar .block {
    height: 85px;
    border-right: 1px solid #000;
    cursor: pointer;
}

.shortcut-bar .block:last-of-type {
    border-right: 0;
}

.shortcut-bar .icon {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    display: block;
}
.shortcut-bar .description {
    display: block;
    text-align: center;
    word-wrap: break-word;
}